<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Amir Portfolio{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/responsive.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/CSS/all.min.css">

</head>

<body>


    <header class="header">
<div class="logo img">
    <a href="/">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </a>
</div>
    <nav>

        <ul>

            <li><a href="/">Home</a></li>

            <li><a href="/about">About</a></li>

            <li><a href="/experience">Experience</a></li>

            <li><a href="/skills">Skills</a></li>

            <li><a href="/services">Services</a></li>

            <li><a href="/projects">Projects</a></li>

            <li><a href="/dashboard">Dashboard</a></li>

            <li><a href="/certificates">Certificates</a></li>

            <li><a href="/contact">Contact</a></li>

        </ul>

    </nav>

    <div class="search">

        <input type="text" placeholder="Search Portfolio">

        <button>

            <i class="fa-solid fa-magnifying-glass"></i>

        </button>

    </div>

</header>

<main>

{% block content %}

{% endblock %}

</main>

<footer class="footer">

    <div class="footer-container">

        <h2>Amir Khan</h2>

        <p>
            Data Analyst • Python Developer • MIS Executive
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fab fa-github"></i></a>

            <a href="#"><i class="fab fa-linkedin"></i></a>

            <a href="#"><i class="fab fa-instagram"></i></a>

            <a href="#"><i class="fas fa-envelope"></i></a>

        </div>

        <p class="copy">

            © 2026 Amir Khan | Mr.Amir Inspired Portfolio | Built with Flask ❤️

        </p>

    </div>

</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
