{% extends "base.html" %}

{% block title %}Certificates{% endblock %}

{% block content %}

<section class="featured">

<h2>Certificates</h2>

<div class="project-grid">

<div class="project">
<h3>Advanced Excel</h3>
<p>Microsoft Excel</p>
</div>

<div class="project">
<h3>Power BI</h3>
<p>Dashboard Development</p>
</div>

<div class="project">
<h3>Python</h3>
<p>Programming Certificate</p>
</div>

<div class="project">
<h3>SQL</h3>
<p>Database Management</p>
</div>

</div>

</section>

{% endblock %}