{% extends "base.html" %}

{% block title %}Experience{% endblock %}

{% block content %}

<section class="experience">

<h1>Work Experience</h1>

<div class="timeline">

<div class="job">
<h2>Frankfinn Pvt. Ltd.</h2>
<h4>MIS Executive | 2025 - Present</h4>
<p>Automating reports, dashboards, Power Query, VBA and MIS Reporting.</p>
</div>

<div class="job">
<h2>Fleetx Technologies</h2>
<h4>MIS Executive | 2024 - 2025</h4>
<p>Fleet dashboards, Excel Automation and Client Reporting.</p>
</div>

<div class="job">
<h2>Cars24</h2>
<h4>Operations Executive | 2023 - 2024</h4>
<p>Operations Reporting and Data Management.</p>
</div>

</div>

</section>

{% endblock %}