{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

<section class="featured">

<h2>My Projects</h2>

<div class="project-grid">

<div class="project">
<h3>Power BI Dashboard</h3>
<p>Interactive Sales Dashboard with KPIs.</p>

<a href="{{ url_for('static', filename='ProjectsPDF/Power BI Dashboard.pdf') }}"
   target="_blank"
   class="btn">
  <button>View Project</button>
</a>

</div>

<div class="project">
<h3>Excel Automation</h3>
<p>VBA + Power Query Automation.</p>

<a href="{{ url_for('static', filename='ProjectsPDF/Excel Automation.pdf') }}"
   target="_blank"
   class="btn">
  <button>View Project</button>
</a>

</div>

<div class="project">
<h3>SQL Analysis</h3>
<p>Business Reporting using SQL.</p>

<a href="{{ url_for('static', filename='ProjectsPDF/SQL Analysis.pdf') }}"
   target="_blank"
   class="btn">
  <button>View Project</button>
</a>

</div>

<div class="project">
<h3>Python Automation</h3>
<p>Automated Excel Reports using Python.</p>

<a href="{{ url_for('static', filename='ProjectsPDF/Python Automation.pdf') }}"
   target="_blank"
   class="btn">
<button>View Project</button>
</a>

</div>

<div class="project">
<h3>Flask Portfolio</h3>
<p>Modern Portfolio Website.</p>

<a href="{{ url_for('static', filename='ProjectsPDF/Flask Portfolio.pdf') }}"
   target="_blank"
   class="btn">
  <button>View Project</button>
</a>

</div>

<div class="project">
<h3>MIS Dashboard</h3>
<p>Operational Reporting Dashboard.</p>

<a href="{{ url_for('static', filename='ProjectsPDF/Power BI Dashboard.pdf') }}"
   target="_blank"
   class="btn">
  <button>View Project</button>
</a>

</div>

</div>

</section>

{% endblock %}